<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <!-- To save as <CATALINA_HOME>\webapps\helloservlet\WEB-INF\web.xml -->

<servlet>
<servlet-name>loginServlet</servlet-name>
<servlet-class>loginServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>loginServlet</servlet-name>
<url-pattern>/loginServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>mynetworkServlet</servlet-name>
<servlet-class>mynetworkServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>mynetworkServlet</servlet-name>
<url-pattern>/mynetworkServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>logoutServlet</servlet-name>
<servlet-class>logoutServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>logoutServlet</servlet-name>
<url-pattern>/logoutServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>createServlet</servlet-name>
<servlet-class>createServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>createServlet</servlet-name>
<url-pattern>/createServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>firsttimesetupServlet</servlet-name>
<servlet-class>firsttimesetupServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>firsttimesetupServlet</servlet-name>
<url-pattern>/firsttimesetupServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>viewProfileServlet</servlet-name>
<servlet-class>viewProfileServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>viewProfileServlet</servlet-name>
<url-pattern>/viewProfileServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>adminServlet</servlet-name>
<servlet-class>adminServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>adminServlet</servlet-name>
<url-pattern>/adminmode</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>myconnectionsServlet</servlet-name>
<servlet-class>myconnectionsServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>myconnectionsServlet</servlet-name>
<url-pattern>/myconnectionsServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>updateProfileServlet</servlet-name>
<servlet-class>updateProfileServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>updateProfileServlet</servlet-name>
<url-pattern>/updateProfileServlet</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>checkconnectionServlet</servlet-name>
<servlet-class>checkconnectionServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>checkconnectionServlet</servlet-name>
<url-pattern>/checkconnectionServlet</url-pattern>
</servlet-mapping>


<session-config>
   <session-timeout>15</session-timeout>
</session-config>
</web-app>
